@use "/src/assets/colors" as *;

.quote-container {
	width: 85vw;
	max-width: 750px;
	min-height: 265px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: $white;
	border-radius: 10px;
	box-shadow: 10px 10px $shadow;
	padding: 2rem 3rem;
	position: relative;
	margin-left: -1vw;
}

.quote,
.author {
	font-family: Arial, sans-serif;
	padding: 0.5em 0;
}

.quote {
	font-size: 2.5rem;
	text-align: center;
	margin: auto 0;
}

.quote::before,
.quote::after {
	content: '"';
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 3rem;
	margin: 0.5rem 1rem;
}

.author {
	font-size: 1.6rem;
	font-style: italic;
	opacity: 80%;
	margin-left: auto;
}

.author::before {
	content: "- ";
}

.new-quote-btn {
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(40%) translateY(-50%);
	border: none;
	border-radius: 50%;
	padding: 0.75rem;
	border: 7px solid $white;
	box-shadow: 0.5rem 1rem 0 0.3rem $shadow;
	transition: 0.2s;
}

.new-quote-btn:hover {
	cursor: pointer;
	transform: translateX(40%) translateY(-55%);
	box-shadow: 0.5rem 1.2rem 0 0.4rem $shadow;
}

.new-quote-btn:active {
	transform: translateX(40%) translateY(-48%);
	box-shadow: 0.2rem 0.3rem 0 0.1rem $shadow;
}

.btn-icon {
	font-size: 4rem;
	padding: 0.5rem;
}

@media screen and (max-height: 650px), screen and (max-width: 650px) {
	.quote-container {
		min-height: 200px;
	}

	.quote,
	.quote::before,
	.quote::after {
		font-size: 2rem;
	}

	.author {
		font-size: 1.35rem;
	}

	.new-quote-btn {
		border-width: 5px;
	}
	.btn-icon {
		font-size: 2.5rem;
		padding: 0.25rem;
	}
}

@include app-bg-colors;
